In [1]:
import pandas as pd

In [3]:
# Создание  DataFrame - 1-ый способ 
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
display (countries_df)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [4]:
# Создание  DataFrame - 2-ой способ 
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [5]:
countries_df.mean(axis=0,numeric_only=True)

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [7]:
countries_df.mean(axis=1,numeric_only=True)

UK      66726.145
CA    4992354.025
US    4913476.140
RU    8562668.620
UA     301836.750
BY     103804.750
KZ    1362459.520
dtype: float64

In [8]:
countries_df.population

UK     56.29
CA     38.05
US    322.28
RU    146.24
UA     45.50
BY      9.50
KZ     17.04
Name: population, dtype: float64

In [9]:
countries_df.loc['UK', 'square']

133396

In [10]:
countries_df.loc['RU', ['population', 'square']]

population      146.24
square        17125191
Name: RU, dtype: object

In [11]:
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']]

    population   square
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [27]:
def create_companyDF(income, expenses, years) -> pd.DataFrame:
    result = pd.DataFrame({
        'Income': income,
        'Expenses': expenses,
    },
        index= years
    )
    return result 
def get_profit(df, year):
    if year in df.index:
        return df.loc[year,'Income']-df.loc[year,'Expenses']
    else:
        return None