In [1]:
import pandas as pd

In [3]:
ufo_data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv',sep=',')
ufo_data.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [10]:
ufo_data_ps=ufo_data.copy()
ufo_data_ps['Time'] = pd.to_datetime(ufo_data_ps['Time'])

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

In [13]:
ufo_data_ps['Time'].dt.year.mode()

0    1999
Name: Time, dtype: int32

In [45]:
ufo_data_ps[ufo_data_ps['State']=='NV']['Time'].dt.date.diff().dt.days.mean()

68.92932862190813

:

In [43]:
ufo_data_ps['Date'] = ufo_data_ps['Time'].dt.date
print(ufo_data_ps[ufo_data_ps['State']=='NV']['Date'].diff().dt.days.mean())

68.92932862190813